body, html {
  cursor: url(https://chav3zzz.github.io/pepefrog.png), pointer;
  height: 100%;
}

/*body, html {
  cursor: url(http://bringerp.free.fr/Files/RotMG/cursor.gif), pointer;
  height: 100%;
}*/
